<style>
		
		.form-horizontal {
			margin-top: 10px;
		}
		.jumbotron {
			width: 1000px;
			text-align: center;
			margin-top: 100px;
			margin-left: auto;
			margin-right: auto;
			height: 200px;
			background-image: url("../images/fundo-home.jpg");
			

		}
		.legend{
			width: 1000px;
			text-align: center;
			margin-top: 100px;
			margin-left: auto;
			margin-right: auto;
		}
		.form-control {
			margin-bottom: 20px;
		}

		.rodape{
			text-align: center;
			margin-top: 100px;

		}
		.black_text{
			color: black;
		}

	</style>
